@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-grad {
    background-image: linear-gradient(
      to right,
      #1fa2ff 0%,
      #12d8fa 51%,
      #1fa2ff 100%
    );

    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }
  .input-search {
    @apply rounded-xl border-b-2 border-slate-600/20 bg-white/80 p-3  opacity-70 shadow-md shadow-slate-300/50 outline-none transition-all duration-100 hover:border-sky-300/60 hover:opacity-100  hover:shadow-slate-300/70  focus:border-sky-300/60;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .background {
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  }
}
